/* === Universal Box Sizing === */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* === Normalize CSS === */
@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css');

/* === Custom Properties === */
:root {
  --color-primary: #d73953;
  --color-black: #090909;
  --color-white: #ffffff;
  --color-light-grey: #f3f3f3;
  --color-dark-grey: #353535;
  --text-color: var(--color-black);
  
  /* Font Family Variables */
  --font-family-base: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  --font-family-title: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
  
  /* Font Size Variables */
  --font-size-small: 1.2rem;
  --font-size-medium: 1.6rem;
  --font-size-large: 1.8rem;
  --font-size-x-large: 2.3rem;
  --font-size-xx-large: 4.8rem;

  /* Font Weight Variables */
  --font-weight-regular: 400;
  --font-weight-bold: 700;
  
  /* Line Height Variables */
  --line-height-small: 1.2;
  --line-height-base: 1.5;
  --line-height-big: 1.8;

  /* Padding Properties */
  --section-padding: 5rem 0;
  --section-header-padding: 0 0 3rem;
  --section-body-padding: 0 0 3rem;
  --section-footer-padding: 3rem 0 0;
  --section-footer-align: center;
  --footer-padding: 5rem 0 1rem;
}

/* === Integrating Google Fonts === */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap');

/* === Section Padding === */
.section {
  padding: var(--section-padding); /* Apply general padding to all sections */
}

.section-header {
  padding: var(--section-header-padding); /* Padding for section header */
}

.section-body {
  padding: var(--section-body-padding); /* Padding for section body */
}

.section-footer {
  padding: var(--section-footer-padding); /* Padding for section footer */
  text-align: var(--section-footer-align); /* Align footer content */
}

footer {
  padding: var(--footer-padding); /* Padding for footer */
}
